@rendermode InteractiveServer
@page "/products"
@using SmartShop.Shared

@* Inject ProductService *@
@inject SmartShop.Web.Services.ProductService ProductService

<h1>Products</h1>

<p>SmartShop Product List</p>

<h3>@message</h3>

<div class="container">
    <div class="row">

        @* Loop through products *@
        @foreach (var item in products)
        {
            <div class="col-md-4" style="margin-bottom:20px;">

                <div class="card shadow">

                    <div class="card-body">

                        @* Product Name *@
                        <h5 class="card-title">
                            @item.Name
                        </h5>

                        @* Product Details *@
                        <p class="card-text">

                            <b>Price:</b> ₹@item.Price <br />

                            <b>Quantity:</b> @item.Quantity

                        </p>

                        @* Delete Button *@
                        <button class="btn btn-danger"
                                @onclick="async () => await DeleteProduct(item.Id)">
                            Delete
                        </button>

                    </div>

                </div>

            </div>
        }

    </div>
</div>

@code {

    // Welcome message
    string message = "Welcome to SmartShop";

    // Product list
    List<Product> products = new();

    // Load products when page opens
    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProducts();
    }

    // Delete Product
    private async Task DeleteProduct(int id)
    {
        // Call DELETE API
        await ProductService.DeleteProduct(id);

        // Reload updated product list
        products = await ProductService.GetProducts();
    }
}